/*******************TAG SELECTORS*******************/
body {
  background-color:#f4f6ff;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
img {
  height: 500px;
}

img:hover {
  height: 500px;
}

h1 {
  color: #092532;
}

h3 {
 color: #092532;
}

/*comments*/
/*******************CLASS SELECTORS*******************/

.eeyore{
  height: 200px;
}

.pooh{
  height: 400px;
}
.circular {
  border-radius: 100%;
}

/*******************ID SELECTORS*******************/
/*more specific*/
#heading {
  color: purple;
}
